

transformers==4.31.0
accelerate==1.0.1
tokenizers==0.13.3

gym==0.26.2
gymnasium==0.29.0
ray==2.10.0
tianshou==0.5.0

numpy==1.24.1
scipy==1.10.0
pandas
matplotlib
seaborn

networkx
einops
opencv-python
tqdm
joblib

tensorboard
h5py
PyYAML
sympy
openpyxl
requests
rich
pytest
